---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Schedule from "../components/Schedule.astro";
import type { Time } from "../utils/time";
import { Theme, ThemeType } from "../types/Theme";
import type { Venue } from "../types/Venue";

const start = "07:45";
const end = "16:00";

export type Event = {
  title: string;
  from: Time;
  to: Time;
  theme: ThemeType;
  description?: string;
  venue?: Venue | [Venue, Venue];
};

const features: Event[] = [
  { title: "Frokost", from: "07:45", to: "08:15", theme: Theme.FELLES },
  { title: "Velkommen", from: "08:15", to: "08:30", theme: Theme.FELLES },
  {
    title: "Keynote stream fra Oslo",
    from: "08:30",
    to: "09:15",
    theme: Theme.FELLES,
  },
  { title: "Pause (10 min)", from: "09:15", to: "09:25", theme: Theme.FELLES },
  {
    title: "Hackathon",
    from: "09:25",
    to: "11:30",
    theme: Theme.LÆRE,
    venue: "kram",
  },
  { title: "Lunsj", from: "11:30", to: "12:30", theme: Theme.FELLES },
  {
    title: "Hackathon",
    from: "12:30",
    to: "13:10",
    theme: Theme.FELLES,
    venue: "kram",
  },
  {
    title: "From business to buttons Ellen og Stina Sofie +",
    from: "09:25",
    to: "09:55",
    theme: Theme.LÆRE,
    venue: "amfiet",
  },
  {
    title: "Pause",
    from: "09:55",
    to: "10:00",
    theme: Theme.FELLES,
    venue: ["amfiet", "sosialsonen"],
  },
  {
    title: "Design-havarikommisjonen",
    from: "10:00",
    to: "11:30",
    theme: Theme.SKUDD,
    venue: "amfiet",
  },
  {
    title: "Intro via teams, så workshop",
    from: "12:30",
    to: "15:15",
    venue: "amfiet",
    description: "Designplan - hva og hvorfor det kan være nyttig",
    theme: Theme.FELLES,
  },
  {
    title: "Double span all the way",
    from: "13:10",
    to: "13:15",
    theme: Theme.FELLES,
    venue: ["amfiet", "sosialsonen"],
  },
];
---

<Layout title="Welcome to Astro.">
  <main>
    <header class="banner" role="banner">
      <h1>
        <!-- <span class="text-gradient">Variantdag</span> 2023.06.02 -->
        Variantdag<span class="text-gradient">2023.06.02</span>
      </h1>
    </header>
    <Schedule start={start} end={end}>
      {
        features.map((feature) => (
          <Card
            startOfDay={start}
            theme={feature.theme}
            from={feature.from}
            to={feature.to}
            title={feature.title}
            theme={feature.theme}
            description={feature.description}
            venue={feature.venue}
          />
        ))
      }
    </Schedule>
  </main>
</Layout>

<style>
  body {
    margin: 0;
  }
  main {
    margin: auto;
  }
  h1 {
    display: grid;
    font-size: 1.6rem;
    font-weight: 800;
    margin: 0;
    height: 200px;
    align-content: center;
    text-align: center;
  }
  .banner {
    padding: 1rem;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      212deg in oklab,
      oklch(55% 0.45 350) 0%,
      oklch(100% 0.4 95) 102% 102%
    );
    background-size: 400%;
    background-position: 0%;
  }
</style>
